{# templates/baselayout.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %} Accueil Voyage{% endblock %}

{% block body %}
  <h1>Bienvenue sur notre Agence de voyage</h1>

    <a href="/circuit">Voir la liste des circuits programmés</a>

{% endblock %} {# body #}