{# templates/baselayout.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %} Voyage à -50% {% endblock %}


{% block body %}
    {% if circuitslist is not empty %}
        {% set n = 0 %}
        <div class="container">
            <div class="row">
                {% for circuit in circuitslist %}
                    {% if n < 3 %}
                        {% if circuit.getProgrammations() is not empty %}
                            <div class="col-sm-4">
                                {% if n == 0 %}
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">LE BEST SELLER</div>
                                {% endif %}
                                {% if n == 1 %}
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">COUP DE COEUR DE L'EQUIPE</div>
                                {% elseif n == 2 %}
                                    <div class="panel panel-success">
                                        <div class="panel-heading">LE BON PLAN</div>
                                {% endif %}
                                        <div class="panel-body">Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j.
                                            de voyage à travers le {{ circuit.paysDepart }}, pour terminer à
                                            {{ circuit.villeArrivee }}.</div>
                                        <div class="panel-footer">Offre soumise à conditions</div>
                                    </div>
                            </div>
                        {% endif %}
                        {% set n = n + 1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div><br>
    {% endif %}
{% endblock %} {# body #}

