
{% extends "baselayout.html.twig" %}

{% block title %} Ajouter un voyage {% endblock %}

{% block body %} 

<form action="/action_page.php">
  Destination:<br>
  <input type="text" name="destination" ><br>
  Date:<br>
  <input type="text" name="date" ><br><br>
  <input type="submit" value="Submit">
</form> 
    


{% endblock %}    




